@import "reset";

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.head {
  &-wrapper {
    background-color: #f4f4f4;
    padding: 6rem 0 2rem;
    box-shadow: 0 0 1rem #c2c2c2;
  }
  &-panel {
    display: flex;
    justify-content: space-between;

  }
}
.searchbar {
  &__input {
    width: 25rem;
    padding: 0.8rem 0 0.8rem 1rem;
    border: none;
    border-radius: 0.3rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);

    &::placeholder {
      font-size: 1.4rem;
      color: #d9d9d9;
    }
  }

  &__icon {

    &::before {
      position: relative;
      top: 0.3rem;
      right: 1rem;
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-size: cover;
      background-image: url('../images/search-solid.svg');
    }
  }
}

.buttons {

  &__item {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 0.5rem #2c2c2c;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #006fca;
    box-shadow: 0 0.2rem 0.4rem 0.1rem #c2c2c2;
  }
}
.cal-nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;

  &__month {
    font-size: 2.4rem;
  }
  
  &__today {
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    background-color: #fff;
    padding: 0.3rem 0.6rem;
    box-shadow: inset 0 0 0.4rem 0 #c2c2c2;
  }
}
.switch-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0.4rem 0 #c2c2c2;

  &__prev::after {
    content: '';
    position: absolute;
    transform-origin: center;
    top: 25%;
    right: 35%;
    display: inline-block;
    border: 0.6rem solid transparent;
    border-right: 0.6rem solid grey;
  }
  &__next::after {
    content: '';
    position: absolute;
    transform-origin: center;
    top: 25%;
    left: 35%;
    display: inline-block;
    border: 0.6rem solid transparent;
    border-left: 0.6rem solid grey;
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 14%);
  grid-template-rows: 3rem;
  grid-auto-rows: 15rem;
  grid-gap: 0.1rem;
  margin-bottom: 5rem;

  &__meeting {
    padding: 0.3rem;
    background-color: cornflowerblue;
    color: #fff;
  }

  &__item {
    position: relative;
    color: grey;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    border-collapse: collapse;
    box-shadow: 0 0 0 0.1rem lightgray;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: lightskyblue;
    }
  }

  &__today {
    font-weight: 900;
    background-color: lightgrey;
  }
}

.new-meeting {
  position: absolute;
  width: 35rem;
  height: 30rem;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0 0 1rem 0.3rem lightgrey;
  border-radius: 0.3rem;

  &__close {
    position: absolute;
    top: 0.3rem;
    right: 0.6rem;
    font-family: sans-serif;
    font-size: 1.6rem;
    color: lightgrey;
    cursor: pointer;
  }

  &__input {
    width: 90%;
    height: 10%;
    border-radius: inherit;
    border: 0.1rem solid lightgrey;
    box-shadow: inset 0 0.1rem 0.3rem 0 lightgrey;
    padding-left: 1rem;
  }

  &__desc {
    height: 10rem;
    resize: none;
    font-family: sans-serif;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 650px){
  .calendar {
    grid-auto-rows: 10rem;
  }
  .head {
    &-panel {
      flex-direction: column;
      align-items: flex-end;
    }

    &-wrapper {
      padding-top: 4rem;
    }
  }
  .buttons {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      order: 2;
      margin-top: 2rem;
    }
    &__item {
      margin-left: 1rem;
    }
  }
  .cal-nav {
    width: 100%;
  }
}
